*{
    box-sizing: border-box;
    margin: 0;
}
.about-background{
    background-image: url(assets/about-stars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.weather-background{
    background-image: url(assets/weather-stars.png);
}

.main-background{
    background-image: url(assets/index-stars.png);
}

.insta{
    background-image: url(assets/insta-stars.png);
    background-color: #98C4EC;
}

.index{
    background-color: #220E57;
}

nav{
    width:100vw;
}
.navigation{
    z-index: 3;
    width: 100vw;
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color:#FF9200;
    font-size: 26px;
    height:70px;
    width:100wv;
    background-color: #471B6C;
    line-height: 70px;
}

.navigation p{
    text-align: center;
}
.navigation a{
    justify-content: space-between;
    vertical-align: middle;
    text-align: center;
    font-family: 'Unica One', cursive;
    text-decoration: none;
    color: #FF9200;
    letter-spacing: 0.15em;
    transition-duration: border-bottom 1s;
    height:50px;
}

.navigation a:hover{
    border-bottom: 1px solid #FF9200;
}

@media (max-width: 600px){
    .navigation{
        font-size: 18px;
        align-items: flex-start;
    }

}

.design-top{
    position: relative;
    display : inline-block;
    height : 0;
    width : 0;
    border-top : 150px solid #471B6C;
    border-right : 50vw solid transparent;
    z-index: -2;
}
.design{
    top:70px;
   height:150px;
   position: relative;
}
.design-bottom{
    top:0;
    position: absolute;
    background-color: #220E57;
    height:150px;
    width: 50vw;
    border-top-left-radius: 110%;
}

/*Main page*/
main{
    min-height:100vh;
    padding-top:80px;
}
.welcome{
    width:100wv;
    display: flex;
    justify-content: center;   
}
.welcome h1{
    font-family: 'Unica One', cursive;
    font-size: 80px;
    color:#FF9200;
}
.welcome .text{
    width:500px;
    text-align: center;

}
.welcome p{
    letter-spacing: 0.1em;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:#98C4EC;
}

.links{
    display: flex;
    justify-content: space-around;
    margin-top:50px;
}
.links .link{
    text-align: center;
    font-family: 'Unica One', cursive;
    font-size: 25px;
    color:#FF9200;
}
.links .planet{
    position: relative;
    border-radius: 50%;
    width:150px;
    height:150px;
    border: solid 1px #98C4EC;
    margin-bottom: 10px;
}
.planet img{
    top:13px;
    left:13px;
    position: absolute;
}
.transform{
    height:120px;
    width:120px;
}
.planet .transform:hover{
    transform: rotate(0deg) !important;
    top:23px;
    left:23px;
    height:100px;
    width:100px;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: center;
}
@media (max-width: 480px) {
    .welcome h1{
        font-family: 'Unica One', cursive;
        font-size: 40px;
        color:#FF9200;
    }
    .welcome p{
        font-size: 12px;
    }
    .links{
        display: none;
    }
  }

/*Weather*/
.card{
    margin-bottom: 20px;
    width:300px;
    background-color: #471B6C;
    color: white;
    font-family: 'Unica One', cursive;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    border-radius: 15px;
}
.card span{
    font-size: 30px;
    color:#FF9200;
}
.row{
    width:100vw;
    display: flex;
    justify-content: center;
}

/*About*/

.curiosity{
    width:100wv;
}

.curiosity .text{
    text-align: center;
    margin-top: 100px;
    background-color: #471B6C;
    padding: 25px;
    border-radius: 30px;
    width: 400px;

}

.curiosity-container{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.curiosity h1{
    margin-top:20px;
    font-family: 'Unica One', cursive;
    font-size: 40px;
    color:#FF9200;
}

.curiosity p{
    letter-spacing: 0.1em;
    margin-top:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    text-align: left;
}

.c-image img{
    height: 250px;
    margin-top: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Footer*/
/*Footer*/
footer{
margin-top:20px;
position: relative;
}

.footer-entire{
    width:100%;
    height:70px;
    background-color:#471B6C ;
    padding-top: 10px;
    box-sizing: border-box;
    text-align: left;
    font-family: 'Unica One', cursive;
}
.footer-entire .footer-left,
.footer-entire .footer-center,
.footer-entire .footer-right{
    display: inline-block;
    vertical-align: top;
}
                /* Footer left */
.footer-entire .footer-left{
    width: 20%;
    align-content: stretch;
    margin: 0;
}
    
.footer-entire a{
    display:inline-block;
    line-height:40px;
    text-decoration: none;
    color:#FF9200;
    font-size: 30px;
    padding-left: 20px;
}
                /* Footer center */
.footer-entire .footer-center{
    width: 55%;
    display: inline-flex;
    justify-content: space-evenly;
}
.footer-entire .footer-center i{
    font-size: 30px;
    color:#98C4EC;
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-entire .footer-center p{
    font-size: 20px;
    display: block;
    color:#FF9200;
    vertical-align: middle;
    margin:0;
    margin-right: 10px;
}
                /* Footer right */
.footer-entire .footer-right{
    width: 20%;
    color:#FF9200;
    font-size: 20px;
    margin: 0;
    text-align: right;
}
@media (max-width: 960px) {
    
    .footer-entire{
        height:100px;
    }
}  
@media (max-width: 815px) {
    
    .footer-entire{
        height:120px;
    }
}   
@media (max-width: 730px) {
    
    .footer-entire{
        height:270px;
    }
    .footer-entire .footer-left,
    .footer-entire .footer-center,
    .footer-entire .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
 
    .footer-entire .footer-center i{
        margin-left: 0;
    }
 
}

